{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style_contato.css' %}" />
    <title>Contato</title>
</head>
<body>
    <div class="conteiner">
        <h1>Contato</h1>
        <form action="{% url 'contato' %}" method="POST" class="form">
            {{formulario}}
            <button><a href="http://127.0.0.1:8000/Email"></a>Enviar</button>
        </form>
    </div>
</body>
</html>

